{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login - Sports Buddy</title>
  <link rel="stylesheet" href="{% static 'events/css/style.css' %}" />
  <script>
    window.onload = function () {
      const urlParams = new URLSearchParams(window.location.search);
      const message = urlParams.get("message");
      if (message) {
        alert(message);
      }
    };
  </script>
</head>
    <header>
      <nav class="navbar">
        <div class="branding">Sports Buddy</div>
        <ul class="nav-links">
          <li><a href="{% url 'home' %}">Home</a></li>
        </ul>
      </nav>
    </header>

<body class="login-page">
  <div class="login-wrapper">
    <main class="login-form-section">
      <form method="POST" class="login-form">
        {% csrf_token %}
        <h1>User Login</h1>

        {{ form.non_field_errors }} 
        {{ form.as_p }}

        <div class="login-actions">
          <button type="submit" class="btn-login">Login</button><br><br>
          <h4>Don't have an account?</h4>
          <a href="{% url 'register' %}" class="btn-register">Register</a>
        </div>
      </form>
    </main>
  </div>
  <footer class="footer">
    <p>© 2025 Sports Buddy. All rights reserved.</p>
  </footer>
</body>
</html>
